box2d-py==2.3.5
gymnasium==0.27.0
gymnasium-notices==0.0.1
lockfile==0.12.2
matplotlib==3.6.2
numpy==1.23.5
pygame==2.1.0
Pygments==2.13.0
tomli==2.0.1
torch==1.13.0
torchaudio==0.13.0
torchvision==0.14.0
